
</html>
<head>
<script>
//document.addEventListener("click", () => document.getElementById("Br1").style.fill = "grey");
//document.addEventListener("click", () => document.getElementById("Br2").style.fill = "grey");
//document.addEventListener("click", () => document.getElementById("Br3").style.fill = "grey");
//document.addEventListener("click", () => document.getElementById("Br4").style.fill = "grey");
//document.addEventListener("click", () => document.getElementById("Br5").style.fill = "grey");
//document.addEventListener("click", () => document.getElementById("Br6").style.fill = "grey");

function lancer(){
	   var number = Math.floor((Math.random() * 6)+1);
          alert("le barillet tourne, BOUM ! le numéro " + number);
	if(document.getElementById("Br"+number).style.fill=="red"){alert("Perdu !");}
	else{alert("Gagné !!");}
}

function chamber(n){
	alert("Chambre" + n)
setTimeout(() => { 
	document.getElementById("Br"+n).style.fill="red";
}, 100);
}
</script>


</head>
<body>
	<h1>Roulette Russe</h1>

	<svg width=200 height=200 style="background-color:antiquewhite">
	<circle cx="100" cy="100" r="95" stroke="black" stroke-width="3" fill="none" />
	<circle id="Br1" cx="100" cy="40" r="25" stroke="black" stroke-width="3" fill="gray" onclick="chamber(1)" />
	<circle id="Br2" cx="150" cy="70" r="25" stroke="black" stroke-width="3" fill="gray" onclick="chamber(2)"/>
	<circle id="Br3" cx="50" cy="70" r="25" stroke="black" stroke-width="3" fill="gray" onclick="chamber(3)" />
	<circle id="Br4" cx="50" cy="130" r="25" stroke="black" stroke-width="3" fill="gray" onclick="chamber(4)"/>
	<circle id="Br5" cx="150" cy="130" r="25" stroke="black" stroke-width="3" fill="gray" onclick="chamber(5)"/>
	<circle id="Br6" cx="100" cy="160" r="25" stroke="black" stroke-width="3" fill="gray" onclick="chamber(6)"/>
	<circle cx="100" cy="100" r="10" stroke="black" stroke-width="3" fill="black" />
	</svg>	
	
	<button onclick="lancer()">Jouer</button>	
	
</body>
</html>
